* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #2E6158;
    color: white;
    
  }
  
  .ln {
    border: 1px solid #424242;
  }

/* */

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 20%;
    padding: 1%;
    text-align: center;
    cursor: pointer;
}

nav {

    width: 73%;
    padding: 1%;
    }

ul {
    padding: 1%;
    width: 50%;
    margin-left: auto;
    font-weight: 300;
    text-align: center;
}

li {
margin: 0 0 0 2rem;
cursor: pointer;
}

aside {
    float:left;
}

.heroImg {
    width: 50%;
    padding: 3rem;
    transform: translateX(15px)

}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    font-weight:400;
    letter-spacing: 1px;
    transform: translateX(15px) translateY(-90px);

}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.6rem;
    font-weight:100;
    letter-spacing: 1px;
}

.yasemin {
    transform: translateX(60px) translateY(-110px);
}

h3 {
    color:#AED2CD;
    font-weight:lighter;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

h4 {
    font-size: 1.4rem;
    color:#2E6158;
}
.job {
    transform: translateX(220px) translateY(-120px);
}
p {
    font-size: 1rem;
    font-weight:200;
}

.content {
    float:right;
    width: 500px;
    margin: 0;
}

.myWork {
    width: 50%;
}

.project {
    background-color:white;
    color:#2E6158;
    padding: 1rem;
    margin: 2rem;
    border-radius: 0px 80px 0px 0px;
    box-shadow: 3px 3px 20px 10px rgba(28,59,53,0.77);
    cursor: pointer;
}

/* Footer */

footer {
    background-color:#42827E;
    padding: 1%;
}

footer .ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
    font-weight:300;
}

/* Skills & Tools */

 .flexContainer {
    display: flex;
}
.flexContainer .card {
    display:flex inline-block;
    align-items:center;
    justify-content:center;
    margin: 4rem;
    text-align:center;
}
.icon {
    width: 100px;
}

.title {
text-align:center;
}

section .tools {
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 3rem;
}
.myWork {
    display:flex;
    justify-content:center;
}
.hidden {
    width: 100px;
    color:#2E6158;
}

@keyframes spin {
from { transform: rotateY(0deg); }
to { transform: rotateY(360deg); }
}

.logo {
    animation: spin 4s infinite;
}

.project:hover
{
        -webkit-transform: scale(1.02);
        -ms-transform: scale(1.02);
        transform: scale(1.02);
        box-shadow: 3px 3px 20px 10px #AED2CD;
        transition: transform 0.20s ease-in-out;
}

.icon:hover {
    filter: drop-shadow(1px 1px 26px #aed2cd);
}

:not(nav).inline-block {
        display: inline-block;
        position: relative;
        color: white;
      }

:not(nav).inline-block:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.35s ease-out;
      }

:not(nav).inline-block:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }


.inline-block-h3 {
        display: inline-block;
        position: relative;
        color:#AED2CD;
        cursor: pointer;
      }

.inline-block-h3:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: white;
        transform-origin: bottom right;
        transition: transform 0.35s ease-out;
      }

.inline-block-h3:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }